
.category-item{
    background-color: #fde4e4;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
}
.category-item:hover{
    transition: 0.5s;
    transform: translateY(-15px);
}

@media only screen and (max-width:992px){
    .category-item{
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width:576px){
    .category-img img{
        width: 40px;
        height: 40px;
    }
    .category-item h6{
        font-size: 0.8rem;
    }
}
@media only screen and (max-width:300px){
    .category__wrapper{
        width: 100%;
    }
}