.feature__subtitle,
.feature__title span {
    color: #fd2020;
}

.feature__text {
    color: #777;
}

.feature__item p {
    color: #777;
}

.food__category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fd2020;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 8px;
}

.food__category button {
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    color: #fff;
}

.food__category button img {
    width: 20px;
    height: 20px;
}

.foodBtnActive {
    color: #fd2020 !important;
    background-color: #fff !important;
    border-radius: 7px;
}

/* .tasty__treat-title {
    color: #fd2020;
} */

.tasty__treat-description {
    color: #777;
    line-height: 28px;
}

.choose__us-title {
    font-weight: 600;
}

.choose__us-title i {
    font-weight: 500 !important;
    color: #fd2020;
}
.choose__us-description{
    color: #777;
}
.testimonial__subtitle,
.testimonial__title span
{
    color: #fd2020;
}

.testimonial__description{
    color: #777;
    line-height: 30px;
}

@media only screen and (max-width:992px){
    .slider__wrapper{
        padding: 20px;
        margin-bottom: 1.5rem;
    }
    .hero__title{
        font-size: 1.5rem;
        line-height: 40px;
    }
    .hero-service p{
        font-size: 0.7rem;
    }
}
@media only screen and (max-width:768px){
    .hero__btns button{
        font-size: 0.7rem;
        padding: 5px 15px;
    }
    .hero__content h5{
        font-size: 1rem;
    }
    .hero__content p{
        font-size: 0.8rem;
        line-height: 25px;
    }
    .feature__item h5{
        font-size: 0.9rem;
    }
    .feature__item p{
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .feature__subtitle{
        font-size: 1rem;
    }
    .feature__text{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:576px){
    .hero__content{
        text-align: center;
    }

    .hero__btns{
        justify-content: center;
    }
   
    .hero-service{
        justify-content: center;
    }

}
@media only screen and (max-width:520px){
    .food__category{
        overflow-x: scroll;
        justify-content: space-around;
        padding-left: 10px;
    }
}